body {
    margin: 0px 0px;
    background-color: rgb(10, 10, 10);
}

h1 {
    position: relative;
    top: -30px;
    color: white;

    text-align: center;
    font-size: 66px;
    line-height: 0.9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 33px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 450px;
    height: 560px;
}

/*Reset button*/
.reset {
    position: relative;
    display: none;
    text-align: center;
    top: 430px;
    left: 170px;

    width: 110px;
    height: 50px;
    border: 4px solid white;
    border-radius: 11px;
    transition: 0.2s;

    animation-name: none;
    animation-duration: 0.5s;
}

.reset:hover {
    background-color: rgba(255, 255, 255, 0.288);
}

/*Gameboard*/
.gameboard {
    position: absolute;
    bottom: 0px;
    border: 3px solid white;

    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
}

.tile {
    border: 3px solid white;
}

/*Tile types*/
.cross {
    border: 3px solid white;
    background-image: url('cross.png');
    background-size: cover;
    width: 144px;
    height: 144px;

    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.circle {
    border: 3px solid white;
    background-image: url('circle.png');
    background-size: cover;
    width: 144px;
    height: 144px;

    animation-name: fadeIn;
    animation-duration: 0.4s;
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}